* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  color: #332d14;
}

button {
  height: 4.5rem;
  width: 12rem;
  border: 2px solid rebeccapurple;
  border-radius: 0.5rem;
  background-color: white;
  /* color: #332d14; */
  font-weight: bold;
}

button:hover {
  background-color: #ffe066;
  color: rebeccapurple;
}

.input-container {
  padding-bottom: 4rem;
}

.input {
  height: 4.5rem;
  width: 30rem;
  text-align: center;
  border: 2px solid rebeccapurple;
  border-radius: 0.5rem;
  margin: 0.2rem;
  background-color: #fff0b3;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100vh;
  font-size: 5rem;
  background-color: #ffe066;
}

.app-title {
  color: rebeccapurple;
}
.data-name-container {
  display: flex;
}

.data-title {
  padding: 5rem;
}

.display-data {
  border: 6px solid rebeccapurple;
  border-radius: 1rem;
  width: 60%;
  height: 50rem;
  font-size: 3rem;
}

.data-info {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: auto;
  gap: 2rem;
}
